# Результат работы скриптов-апдейтеров
/content-data

# Next.js App
/next-app/node_modules
/next-app/.next

# Updaters
/updater-scripts/node_modules
/updater-scripts/package-lock.json

# .env`s
.env*
next-env.d.ts
*/.env*